<html>
<head>
    <title>API Examples</title>
</head>

<body>
    <h1><img src='{{ request_context.ab ("/avatar.png") }}' width=50 align='absmiddle'> API Examples</h1>
    <div>
        Here're some API examples using Task of Skitai App Engine.
    </div>
    <ul>
        <li><a href='{{ request_context.ab ("apis:index") }}'>Basic</a></li>
        <li><a href='{{ request_context.ab ("apis:db2") }}'>SQLite3 Querying With Lazy Response</a></li>

        <li><a href='{{ request_context.ab ("apis:restapi") }}'>API Call</a></li>
        <li><a href='{{ request_context.ab ("apis:restapi2") }}'>API Call With Lazy Response</a></li>

        <li><a href='{{ request_context.ab ("apis:thread") }}'>Threading</a></li>
        <li><a href='{{ request_context.ab ("apis:thread2") }}'>Threading With Lazy Response</a></li>

        <li><a href='{{ request_context.ab ("apis:process") }}'>Processing</a></li>
        <li><a href='{{ request_context.ab ("apis:subprocess") }}'>Subprocessing</a></li>
    </ul>
</body>
</html>
