<html>
<head>
    <title>Templated Page Example</title>
</head>

<body>
    <h1><img src='{{ request_context.ab ("/avatar.png") }}' width=50 align='absmiddle'> Templated Page Example</h1>
    <div>
        This page is created by Jinja2 template engine. You can access variable like this:
    </div>
    <ul>
        <li>your_message: {{ your_message }}</li>
        <li>args: {{ request.args }}</li>
        <li>referer: {{ request.env ["HTTP_REFERER"] }}</li>
        <li>user_agent: {{ request.env ["HTTP_USER_AGENT"] }}</li>
    </ul>

    Next, you can visit some API examples.
    <ul>
        <li><a href='{{ request_context.ab ("templates:api") }}'>View API examples</a></li>
    </ul>

</body>
</html>
